body {
  background-color: rgb(35, 35, 35);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: monospace;
}

.homeText {
  color: rgb(223, 0, 134);
}

.menuText {
  color: rgb(0, 225, 180);
}

.contactText {
  color: rgb(166, 0, 243);
}

