body {
  background-color: rgb(35, 35, 35);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: 200px;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  background-color: rgb(226, 0, 106);
  margin-right: 10px;
  border: 0;
  border-radius: 6px;
}

input {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color:rgb(226, 0, 106)
}

p {
  color: white;
}
