.post-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 31, 44);
  align-items: center;
  width: 300px;
  margin: 10px 80px;
  border-radius: 15px;
}

input {
  background-color: rgb(82, 53, 88);
  color: white;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

textarea {
  background-color: rgb(82, 53, 88);
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 0;
}

.submitButton {
  font-weight: bold;
}

.submitButton:hover {
  cursor: pointer;
}

.submitButton:hover {
  background-color: white;
  color: rgb(82, 53, 88);
}

.post-container p:hover {
  color: rgb(82, 53, 88);
  cursor: none;
}



